@{
    ViewData["Title"] = "Login";
}
@if(ViewBag.estadoLogin == 1){
    <div class="alert alert-success" role="alert">
        El usuario no existe.
    </div>
}
@if(ViewBag.estadoLogin == 0){
    <div class="alert alert-success" role="alert">
        Credenciales invalidas.
    </div>
}

<form asp-controller="Usuario" asp-action="Acceder">
  <div class="form-group">
    <label for="exampleInputEmail1">Usuario</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="usuario">
    <small id="emailHelp" class="form-text text-muted">Ingresa el usuario con el cual te registraste.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="contraseña">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Recordar</label>
  </div>
  <p></p>
  <button type="submit" class="btn btn-primary">Acceder</button>
</form>