@{
    ViewData["Title"] = "Registro";
}
@if(ViewBag.estadoRegistro == 0){
    <div class="alert alert-danger" role="alert">
        El usuario se encuentra registrado en nuestra base de datos, pruebe con otro.
    </div>
}
@if(ViewBag.estadoRegistro == 1){
    <div class="alert alert-success" role="alert">
        Registro exitoso!.
    </div>
}
@if(ViewBag.estadoRegistro == 2){
    <div class="alert alert-warning" role="alert">
        Revise el formato de su usuario y/o contraseña.
    </div>
}
<form asp-controller="Usuario" asp-action="Registrar">
  <div class="form-group">
    <label for="exampleInputEmail1">Usuario</label>
    <input onkeyup="if (/[^|a-z0-9]+/g.test(this.value)) this.value = this.value.replace(/[^|a-z0-9]+/g,'')" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese nombre de usuario" name="usuario" required>
    <small id="emailHelp" class="form-text text-muted">Ingresa el Nombre de Usuario que deseas usar.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="contraseña" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
    <small>Contraseña: Debe contener al menos un número y una letra mayúscula y minúscula, y al menos 8 o más caracteres.</small>
  </div>
  <p></p>
  <button type="submit" class="btn btn-primary">Registrar!</button>
</form>